/* ESTILOS GERAIS */
html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}



.coluna{
    flex-basis: 49%;
}

:root{
    --corBackgroundPrimaria: #a7efff;
    --corBackgroundSecundaria: rgb(0, 198, 213);
    --corTextPrimaria:#242424;
    --corTextoSecudaria:#000;

}

.hidden{
    display: none;
}


/* BODY */
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('https://wallpaperaccess.com/full/4213391.jpg');
    font-family: 'Open Sans', sans-serif;
}


/* HEADER */
header{
    padding: 30px 30px 0;
}
header .container{
    width: 80%;
    height: 25%;
    background-image: url("https://www.pngkit.com/png/full/4-43242_waves-transparent-background.png");
    background-size: 79VW;
    background-repeat: no-repeat;
    box-shadow:  20px 20px 40px #2c2c2c9a;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    background-color: rgba(250, 250, 250, 0.7);
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    border-radius: 20px;
    border: 1px solid white;
}
header .linha{
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
    align-items: center;
}
header .coluna-esquerda{
    flex-basis: 30%;
}
header .coluna-direita{
    flex-basis: 60%;
    text-align: center;
}


header .coluna img{
    max-width: 100%;
    box-shadow: 10px 10px 20px #2c2c2c9a;
    border: 1px solid white;
    border-radius: 50%;
}
header .coluna h1{
    font-size: 1.5rem;
    color:var(--corTextoSecudaria);
}
header .coluna p{
    font-size: 1rem;
    color:var(--corTextPrimaria);
}
header .coluna ul{
    margin: 16px 0 0;
}
header .coluna ul li{
    margin: 0 0 12px;
}
header .coluna ul li a{
    font-size: 1rem;
    color:var(--corTextoSecudaria);
}

section {
    background-color: rgba(250, 250, 250, 0.7);
    padding: 15px;
}


/* FOOTER */

footer{
    margin-bottom: 0;
}

footer .container{
    background-color: var(--corBackgroundSecundaria);
    padding: 20px;
}
footer nav ul li a{
    color: white;
}

footer nav .info-contato li{
    margin: 0 0 15px;
}

footer nav .redes-sociais{
    text-align: center;
}
footer nav .redes-sociais li{
    margin: 0px 28px;
    text-align: center;
    display: inline-block;
}

footer nav .redes-sociais li a img{
    width: 40px;
}




/* PÃGINA INICIAL */
main .coluna{
    padding: 20px;
}
main .coluna section{
    border-bottom: 1px solid #d4e9ff;
    border-radius: 10px;
    margin: 0 0 20px;
    color:var(--corTextoSecudaria);
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-fill-mode: forwards; 
    align-items: center;
    box-shadow: 10px 10px 20px #2c2c2c9a;
}

main .coluna section h2{
    font-size: 1.3rem;
    margin: 0 0 15px;
}
main .coluna section p{
    font-size: 0.9rem;
    color: var(--corTextPrimaria);
    line-height: 1.5;
}

main .coluna section ul li{
    margin: 0 0 12px;
}
main .coluna section ul li h3{
    font-size: 1.1rem;
}
main .coluna section ul li strong{
    font-size: 0.9rem;
    font-weight: 500;
    margin: 5px 0 10px;
    display: inline-block;
}

/* @MEDIA */
@media only screen and (min-width: 768px){
    .linha{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-evenly;
    }    
    footer nav .redes-sociais {
        display: flex;
        justify-content: center;
    }
    header{
        padding: 30px 0 0;
    }
    header .coluna img{
        max-width: 250px;
        border-radius: 100%;
    }
    .container{
        width: 100%;
        max-width: 1125px;
        margin: auto auto;
        padding: 30px;
    }
    header .coluna-direita{
        padding: 30px;
        background-color:rgba(175, 225, 226, 0.59);
        text-align: center;
        border: 1px solid white;
        border-radius: 10px;
        box-shadow: 5px 5px 8px #013d489a;
    }
    main .coluna section{
        margin: 5px 5px;
        border: 1px solid #d4e9ff;
        padding: 20px;
    }
    main .coluna{
        padding: 0;
    }
    footer nav .redes-sociais li{
        margin: 0  14px;
        text-align: center;
        display: initial;
    }
    
}


@media only screen and (max-width: 900px){

    header .container{
        background-position: bottom;
    }
}

/* Waves */

.flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}
  
.content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: var(--corBackgroundSecundaria);
}

/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* @keyframes anime {
    0% {
      width: 60px;
      height: 25%;
      background: rgba(250, 250, 250, 0.7);
      box-shadow:  20px 20px 40px #2c2c2c9a;
    }
    100% {
      width: 80%;
      height: 25%;
      background: rgba(250, 250, 250, 0.7);
      box-shadow:  20px 20px 40px #2c2c2c9a;
    }
} */